body {
    
    font-family: 'Poppins', sans-serif;
    background-image: url("https://media.discordapp.net/attachments/951201147631337512/1091026550176092251/bg-web.png?width=1932&height=1088");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.font-color > p, h2{
    color: #ffffff;
}

.custom-button {
    background-color: transparent !important;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 25px;
    width: 100%;
}
.custom-button:hover {
    background-color: #ffffff !important;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 25px;
}

.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1cm;
}

.popup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 300px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    border: 3px solid #000000;
    z-index: 20;
}
  
#popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}
  
#popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

;